.sidebar-left
  .foto
  %ul
    %li
      %a.font-menu{ href: "" } comunicados
    %li
      %a.font-menu{ href: "" } professores
    %li
      %a.font-menu{ href: "" } alunos

.content
  #left-box.box.sombra-box
    %p.arredondar-top comunicado escolar
    %ul
      %li
        .hora Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hora Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hora Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hora Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .ver-todos
          %a{ href: "" } + veja todos

  #right-box.box.sombra-box
    %p.arredondar-top mural da turma
    %ul
      %li
        .hora Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hora Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hora Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hora Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .ver-todos
          %a{ href: "" } + veja todos