.content.dashboard
  .box-border
    .box
      %p.title comunicado escolar

      %ul
        %li
          .hour Hora
          .post
            %a{ href: "" } Título e texto
            Título e texto
        %li
          .hour Hora
          .post
            %a{ href: "" } Título e texto
            Título e texto
        %li
          .hour Hora
          .post
            %a{ href: "" } Título e texto
            Título e texto
        %li
          .hour Hora
          .post
            %a{ href: "" } Título e texto
            Título e texto
        %li
          %a{ href: "" } + veja todos

  .box-border
    .box
      %p.title mural da turma
      %ul
        %li
          .hour Hora
          .post
            %a{ href: "" } Título e texto
            Título e texto
        %li
          .hour Hora
          .post
            %a{ href: "" } Título e texto
            Título e texto
        %li
          .hour Hora
          .post
            %a{ href: "" } Título e texto
            Título e texto
        %li
          .hour Hora
          .post
            %a{ href: "" } Título e texto
            Título e texto
        %li
          %a{ href: "" } + veja todos
