.content
  .box
    %p comunicado escolar
    %ul
      %li
        .hour Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hour Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hour Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hour Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        %a{ href: "" } + veja todos

  .box
    %p mural da turma
    %ul
      %li
        .hour Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hour Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hour Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hour Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        %a{ href: "" } + veja todos