.dashboard
  .box
    %p.title comunicado escolar
    %ul.body
      %li
        .hour Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hour Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hour Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hour Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        %a{ href: "" } + veja todos

  .box
    %p.title mural da turma
    %ul.body
      %li
        .hour Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hour Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hour Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        .hour Hora
        .post
          %a{ href: "" } Título e texto
          Título e texto
      %li
        %a{ href: "" } + veja todos
