#blocker {
  background-color: $gray-darker;
  display: none;
  left: 0;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5000;
}

#popup {
  display: none;
  left: 25%;
  min-height: 300px;
  opacity: 1;
  overflow: hidden;
  position: fixed;
  top: 6%;
  width: 700px;
  z-index: 5001;

  border-radius: 10px;

  .main_popup {
    background: $beige;
    background-size: cover;
    border-radius: 10px;
    display: block;
    padding: 10px;

    form {
      height: 500px;
      margin: 10px auto;
      width: 65%;

      label {
        color: $gray-darker;
      }

      input {
        margin-right: 5px;
      }
    }
  }

  p {
    margin: 30px;
  }

  .close {
    float: right;
    padding: 5px 10px;

    &:hover {
      cursor: pointer;
    }
  }
}
