%li
  %input{ type: 'hidden', name: "classroom[group_ids][]", value: "#{group_id}" }
  %span= group_name
  = link_to "<i class='fa fa-times-circle' title='Remover'></i>".html_safe, 'javascript:;', data: { object_id: "#{group_id}" }, class: 'remove-fields', onclick: 'remove_fields($(this), select_student)'
