%li
  %picture= link_to image_tag(student.avatar(:thumb)), student_path(student)

  .info
    %p.name.truncate= link_to student.name, student_path(student)
    %p= student.enrollment
    %p.links
      = link_to edit_student_path(student) do
        <i class='fa fa-edit' title='Editar'></i>
