%li
  %picture= image_tag student.avatar(:thumb)
  .infos
    %p.name.truncate= student.name
    %p= student.enrollment
    %p.link
      = link_to edit_student_path(student) do
        <i class='icon-edit' title='Editar'></i>
