.content
  .list-box
    %p.title alunos
    %ul
      %li
        %form{ name: '', action: '', method: '' }
          %input.large{ type: 'text', name: '' }
          %input.button.primary{ type: 'submit', value: 'buscar' }
        = link_to 'Cadastrar', new_student_path, class: 'button secondary'

      %li
        %ul.three-columns
          - if @students.empty?
            %p Nenhum aluno encontrado.
          - else
            - @students.each do |student|
              =render 'student', student: student
