.content
  .box.list-box
    %p.title alunos
    %ul
      %li.search-wrapper
        = render 'search', path: students_path

      %li
        %ul.three-columns#students
          - if @students.empty?
            %p Nenhum aluno encontrado.
          - else
            = render partial: 'student', collection: @students
