.content
  .list-box
    %p.title alunos
    %ul
      %li
        %form{ name: '', action: '', method: '' }
          %input.large{ type: 'text', name: '' }
          %button.button.primary{ type: 'submit' }
            <i class='icon-search'></i> Buscar

        = link_to '<i class="icon-plus"></i> Cadastrar'.html_safe, new_student_path, class: 'button secondary'

      %li
        %ul.three-columns
          - if @students.empty?
            %p Nenhum aluno encontrado.
          - else
            = render partial: 'student', collection: @students
