.content
  .list-box
    %p.title aluno
    %ul
      %li= link_to 'cadastrar novo', new_student_path, class: 'button secondary'
      %li
        %form{ name: "", action: "", method: "" }
          %input.input-search.input-size.arredondar{ type: "text", name: "" }
          %input.button.primary{ type: "submit", value: "buscar" }

      %li
        %ul.three_columns
          - @students.each do |student|
            %li
              %picture
              .infos
                %p.name= student.name
                %p= student.email
                %p.link= link_to 'Editar', edit_student_path(student)