.content
  .box.list-box
    %p.title classes
    %ul
      %li.search-wrapper
        = render 'crud/search', search_path: groups_path, new_path: new_group_path

      %li.collection
        - if @groups.empty?
          %p Nenhuma classe encontrada.
        - else
          %table.table
            %thead
              %tr
                %th Nome
                %th Quantidade de alunos
                %th Ações
            - if has_pagination_links? @groups
              %tfoot
                %tr
                  %td{colspan: 3}
                    = paginate @groups, collection: @groups
            %tbody
              = render partial: 'group', collection: @groups

