.content
  .box.list-box
    %p.title classes
    %ul
      %li.search-wrapper
        = render 'crud/search', search_path: groups_path, new_path: new_group_path

      %li
        %ul.three-columns#groups
          - if @groups.empty?
            %p Nenhuma classe encontrada.
          - else
            = render partial: 'group', collection: @groups
