.content
  .box.list-box
    %p.title classes
    %ul
      %li.search-wrapper
        = render 'crud/search', search_path: groups_path, new_path: new_group_path

      %li
        %ul.three-columns#students
          - if @groups.empty?
            %p Nenhuma classe encontrada.
          - else
            = render partial: 'group', collection: @groups

= content_for :javascript do
  :javascript
    $('.search').on('click', '.icon-remove-sign', function() {
      $('.search input').val('');
      $('.search').parent('form').submit();
    });

    $('.search input').focus();
