.content
  .box.list-box
    %p.title classes
    %ul
      %li.search-wrapper
        = render 'crud/search', search_path: groups_path, new_path: new_group_path

      %li
        #groups
          - if @groups.empty?
            %p Nenhuma classe encontrada.
          - else
            %table.table
              %thead
                %tr
                  %th Nome
                  %th Quantidade de alunos
              %tbody
                = render partial: 'group', collection: @groups
