%li
  %picture= link_to image_tag(teacher.avatar(:thumb)), teacher_path(teacher)

  .info
    %p.name.truncate= link_to teacher.name, teacher_path(teacher)
    %p= teacher.enrollment
    %p.links
      = link_to edit_teacher_path(teacher) do
        <i class='fa fa-edit' title='Editar'></i>
