.content
  .list-box
    %p.title professores
    %ul
      %li
        %form{ name: '', action: '', method: '' }
          %input.large{ type: 'text', name: '' }
          %input.button.primary{ type: 'submit', value: 'buscar' }
        = link_to 'Cadastrar', new_teacher_path, class: 'button secondary'

      %li
        %ul.three-columns
          - if @teachers.empty?
            %p Nenhum professor encontrado.
          - else
            - @teachers.each do |teacher|
              =render 'teacher', teacher: teacher
