.content
  .list-box
    %p.title professores
    %ul
      %li= link_to 'cadastrar novo', new_teacher_path, class: 'button secondary'
      %li
        %form{ name: "", action: "", method: "" }
          %input.input-search.input-size.arredondar{ type: "text", name: "" }
          %input.button.primary{ type: "submit", value: "buscar" }

      %li
        %ul.three-columns
          - @teachers.each do |teacher|
            %li
              %picture
              .infos
                %p.name= teacher.name
                %p= teacher.email
                %p.link= link_to 'Editar', edit_teacher_path(teacher)
