$beige: #EDE8DA;
$beige-light: #EBE6D8;
$black: #000;
$blue: #699;
$blue-light: #9DBDBD;
$brown: #38301B;
$gray: gray;
$gray-dark: #444;
$gray-darker: #333;
$gray-light: #CCC;
$gray-lighter: #EAEAEA;
$green: #289C55;
$green-light: #5EB580;
$orange: #FF9900;
$orange-dark: #FF4500;
$red: red;
$transparent: transparent;
$yellow-light: #FFFCEB;
$white: #FFF;
$white-dark: #F1F1F1;
