$beige: #EDE8DA;
$beige-light: #EBE6D8;
$blue: #699;
$blue-light: #9DBDBD;
$brown: #38301B;
$gray: #333;
$gray-dark: #444;
$gray-light: #CCC;
$gray-lighter: #EAEAEA;
$green: #289C55;
$green-light: #5EB580;
$orange: #FF9900;
$red: red;
$white: #FFF;
$white-dark: #F1F1F1;
