body.dashboard{
  background: image-url('noise.png');

  .nav{
    width: $width-site;
    margin: 0 auto;

    .logo{
      padding: 40px 0;
    }
    .menu{
      background-color: $blue;
      height: 78px;
      border-radius: 5px;
      font-size: 12px;
      color: $white;
      text-transform: uppercase;
      text-shadow: black 0.1em 0.1em 0.2em;

      li{
        float: left;
        list-style: none;
        font-size: 12px;
        color: $white;
        text-transform: uppercase;
        padding: 30px;

        a{
          border-radius: 5px;
          text-decoration: none;
          color: $white;
          background-color: $blue-light;
          padding: 5px 8px;
        }
      }
    }
    form{
      padding: 20px 0;
      input{
        padding: 10px;
        width: 312px;
        border: none;
        text-shadow: black 0.1em 0.1em 0.2em;
        float: right;
        margin-right: 30px;
      }
    }
  }

  article{
    margin: 10px auto;
    width: $width-site;

    .content{
      float: left;
    }

    .sidebar{
      float: left;
      padding: 10px;
      border: 1px dotted $gray-light;
      border-radius: 5px;

      .picture{
        width: 200px;
        height: 212px;
        border: 1px solid $gray-light;
        background-color: $white-dark;
        border-radius: 5px;
      }

      ul{
        margin: 10px 0 0 0;
        padding: 0;
      }

      li{
        border-radius: 5px;
        list-style: none;
        width: 100%;
        margin-top: 1px;
        background-color: $blue;
        padding: 10px 0;
        cursor: pointer;

        a{
          font-size: 12px;
          color: $white;
          text-transform: uppercase;
          text-shadow: black 0.1em 0.1em 0.2em;
          text-decoration: none;
          padding: 0 10px;
        }
      }
    }

    .box{
      width: 378px;
      background-color: $white;
      height: 400px;
      margin: 0 0 10px 10px;
      border-radius: 5px;
      box-shadow: 1px 1px 10px $gray;
      float: left;

      .ver-todos{
        text-align: right;
        padding: 5px;
        a{
          text-decoration: none;
          font-size: 12px;
          color: $blue-light;
        }
      }

      p{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin: 0;
        background-color: $blue;
        padding: 10px;
        font-size: 12px;
        color: $white;
        text-transform: uppercase;
      }
      ul{
        margin: 0;
        padding: 0;
      }
      li{
        list-style: none;
        border-bottom: 1px solid $gray-lighter;
        .hora{
          float: left;
          width: 50px;
          font-size: 12px;
          padding: 10px;
        }
        .post{
          padding: 10px 0;
          font-size: 12px;
          a{
            text-decoration: none;
            color: $gray;
            font-weight: bold;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }


  footer{
    height: 100px;
    margin: 10px auto;
    background-color: $gray;
    width: $width-site;
    border-radius: 5px;
    clear: both;
  }
}
