.list-box{
  width: 765px;

  p.title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    background-color: $blue;
    padding: 10px;
    font-size: 12px;
    color: $white;
    text-transform: uppercase;
  }

  form {
    input[type="text"] {
      background-color: $white-dark;
      border: 1px solid $gray-light;
      padding: 15px;
    }

    input {
      margin-bottom: 0;
    }
  }

  ul {
    li {
      padding: 30px 20px;

      .button {
        text-transform: uppercase;
        padding: 15px 20px;
        font-size: 12px;
      }

      .primary {
        background-color: $orange-dark;
      }
    }

    li:first-child {
      text-align: center;
    }

    li:last-child {
      padding: 0;
      border-bottom: none !important;
    }
  }

  .input-size{
    width: 350px;
  }

  ul.three_columns{
    margin: 30px auto !important;
    display: block;
    width: 725px;

    li{
      float: left;
      width: 33%;
      padding: 30px 0;
    }
  }

  picture {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F1F1F1;
    width: 60px;
    height: 75px;
    float: left;
  }

  .infos{
    float: left;
    margin-left: 8px;

    p {
      margin: 0 0 7px;
      text-align: left;
      font-size: 12px;
      color: $blue-light;
    }
    .name{
      text-transform: uppercase;
      font-size: 18px;
    }
    .link{
      a {
        color: $gray;
        font-size: 10px;
        text-decoration: none;
      }
    }
    .description{
      color: $gray-light;
    }
  }

  label{
    text-transform: uppercase;
    font-size: 12px;
  }

  input,textarea{
    margin-bottom: 30px;
  }

  textarea{
    width: 400px;
    height: 100px;
  }
}
