%form
  %label Lorem ipsum
  %br
  %br
  %input{ type: 'text', placeholder: 'nome' }
  %input{ type: 'text', placeholder: 'e-mail' }
  %textarea{ placeholder: 'mensagem' }
  %input.primary{ type: 'submit', value: 'Enviar' }