$width-site: 1000px;

a:focus, a:hover {
  color: $orange!important;
}

input[type="checkbox"]:focus + label, input[type="checkbox"] + label:hover {
  color: $orange;
}

/* FORMS */

input {
  border: none;
  border-radius: 5px;
  color: $gray-dark;

  &.large {
    width: 350px;
  }
}

input[type="text"], input[type="email"], input[type="password"] {
  background-color: $white-dark;
  border: 1px solid $gray-light;
  font-size: 13px;
  margin-bottom: 10px;
  padding: 14px;

  &.error {
    border: 1px solid $red!important;
    margin-bottom: 5px;
  }

  &:disabled {
    background-color: darken($white-dark, 10%)!important;
  }

  &:focus {
    background-color: $white;
    box-shadow: inset 0 1px 2px rgba(0 ,0 ,0 ,0.15);

    &.error {
      box-shadow: inset 0 1px 2px rgba(255, 0, 0, 0.45);
    }
  }
}

textarea {
  background-color: $white-dark;
  border: 1px solid $gray-light;
  border-radius: 5px;
  font-size: 13px;
  margin-bottom:20px;
  padding: 13px;

  &.error {
    border: 1px solid $red!important;
    margin-bottom: 5px;
  }
}

.selectize-control {
  width: 99.8%;

  .selectize-input {
    border-radius: 5px;
    margin-top: 2px;

    &.items {
      background: #F1F1F1;
      border: none;
      border: 1px solid $gray-light;
      box-shadow: none;
      height: 46px;

      &.focus {
        background: $white!important;
      }
    }

    &.focus {
      border-top-left-radius: 5px!important;
      border-top-right-radius: 5px!important;
    }

    input {
      font-size: 14px;
      padding-top: 2px!important;
    }
  }

  &.single {
    .selectize-input {

      &.has-items {
        line-height: 0!important;
        padding-top: 5px!important;

        .item {
          margin-top: 17px;
        }

        &.focus {
          input {
            line-height: 20px!important;
          }

          .item {
            line-height: 20px!important;
            margin-top: 7px;
          }
        }
      }
    }
  }

  &.multi {
    .selectize-input {
      &.has-items {
        padding-top: 9px!important;
      }

      &.focus {
        box-shadow: inset 0 1px 2px rgba(0 ,0 ,0 ,0.15);
      }
    }
  }
}

label.required:after {
  content: ' *'
}

div.error {
  color: $red;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

label.error {
  color: $red;
  display: block;
  font-size: 12px;
}

:focus {
  outline: 0;
}

input[type="submit"] {
  cursor: pointer;
  vertical-align: top;
}

button[type="submit"] {
  cursor: pointer;
}

/* BUTTONS */

.button {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  text-decoration: none;

  input[type='file'] {
    padding: 10px 15px;
  }
}

.primary {
  background-color: $orange-dark;
  color: $white;
  cursor: pointer;

  &:focus, &:hover {
    color: $brown!important;
    transition: 0.2s;
  }
}

.secondary {
  background-color: $blue-light;
  color: $white;
  cursor: pointer;

  &:focus, &:hover {
    color: $brown!important;
    transition: 0.2s;
  }
}

.destroy {
  background-color: $red;
  color: $white;
  cursor: pointer;

  &:focus, &:hover {
    color: $brown!important;
    transition: 0.2s;
  }
}

/* TABLES */

.table {
  border-bottom: 1px $gray-lighter solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;

  th {
    padding: 10px;
  }

  thead {
    background-color: $blue;
    text-transform: uppercase;

    th {
      color: $white;
      font-weight: normal;
      font-size: 12px;
      border-top: 1px $blue solid;
    }

    th:first-child {
      border-left: 1px $blue solid;
      border-top-left-radius: 5px;
    }

    th:last-child {
      border-right: 1px $blue solid;
      border-top-right-radius: 5px;
    }
  }

  tfoot {
    td {
      background-color: $white-light;
      border-left: 1px $gray-lighter solid;
      border-right: 1px $gray-lighter solid;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: 1px $gray-lighter solid;
      padding: 10px;
    }

    .pagination {
      font-size: 11px;
      line-height: 11px;
      text-align: right;

      a {
        font-size: 12px;
        text-decoration: none;
        color: $gray;
      }

      .disabled {
        color: $gray-light;
      }

      .current {
        background-color: $blue-lighter;
        padding: 2px;
        padding-left: 5px;
        margin-left: -1px;
        margin-right: 2px;
      }

      .prev {
        margin-right: 2px;
      }

      .next {
        margin-left: 2px;
      }
    }
  }

  /* Undo tbody last tr changes if tfoot exists */
  tfoot + tbody {
    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 0;
      }

      td:last-child {
        border-bottom-right-radius: 0;
      }
    }
  }

  tbody {
    font-size: 12px;

    a {
      color: $gray-darker;
      font-size: 16px;
      text-decoration: none;
    }

    tr {
      &:hover {
        background-color: $yellow-light;

        td:not(:last-child) {
          a{
            color: $orange!important;
          }
        }
      }

      td {
        border-bottom: 1px $gray-lighter solid;

        a {
          display: block;
          font-size: 14px;
          padding: 10px 0 10px 10px;
          width: 100%;
        }
      }

      td:first-child {
        border-left: 1px $gray-lighter solid;
      }

      td:last-child {
        border-right: 1px $gray-lighter solid;

        a {
          display: inline;
        }
      }
    }

    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 5px;
      }

      td:last-child {
        border-bottom-right-radius: 5px;
      }
    }
  }
}

/* COMMON PAGE AREA */

body {
  background: image-url('noise.png');
  font-family: CenturyGothicRegular;
  margin: 0;
  padding: 0;
}

footer {
  background-color: $gray-darker;
  border-radius: 5px;
  clear: both;
  height: 100px;
  margin: 10px auto;
  width: $width-site;
}

.nav {
  width: $width-site;
  margin: 0 auto;

  a {
    color: $white;
  }

  .nav-wrapper {
    background-color: $blue;
    border-radius: 5px;
    color: $white;
    font-size: 12px;
    margin-top: 12px;
    padding-bottom: 12px;

    .menu {
      display: inline-block;
      text-shadow: black 0.1em 0.1em 0.2em;
      text-transform: uppercase;

      ul {
        margin-left: 15px;
        padding-left: 0px;
      }

      li {
        float: left;
        list-style: none;
        text-transform: uppercase;
        padding: 18px 15px;

        a {
          background-color: $blue-light;
          border-radius: 5px;
          padding: 5px 8px;
          text-decoration: none;

          &.active {
            background-color: $blue-lighter;
          }

          &:hover {
            background-color: $gray-light;
            color: $white!important;
          }
        }
      }
    }

    .extra {
      display: inline-block;
      float: right;
      padding: 10px 15px;
      vertical-align: top;

      a {
        text-decoration: underline;
      }
    }
  }
}

.sidebar {
  margin: 0 10px 10px 0;
  padding: 10px 10px 20px 10px;
  width: 200px;
  float: left;

  .picture {
    height: 212px;
    margin-bottom: 10px;
    width: 200px;

    img {
      border-radius: 5px;
      border: 1px solid $gray-lighter;
    }
  }

  ul {
    margin: 10px 0 0 0;
    padding: 0;
  }

  li {
    background-color: $blue;
    border-radius: 5px;
    height: 100%;
    list-style: none;
    margin-top: 1px;
    padding: 10px 0;

    &:hover {
      background-color: $gray-light;
    }

    a {
      color: $white;
      display: block;
      font-size: 12px;
      line-height: 12px;
      padding: 4px 0 4px 12px;
      text-decoration: none;
      text-transform: uppercase;
      text-shadow: black 0.1em 0.1em 0.2em;

      &:hover {
        color: $white!important;
      }
    }
  }

  li:last-child {
    border-bottom: none;
  }
}

article {
  margin: 10px auto;
  width: $width-site;

  .content {
    float: left;
  }
}

