.search-wrapper {
  form {
    display: inline-block;
    margin-right: 30px;

    button {
      margin-bottom: 0;
      vertical-align: top;
    }

    .search {
      display: inline-block;
      position: relative;

      input.large {
        padding-right: 40px;
        width: 325px;
      }

      .icon-remove-sign {
        color: $gray;
        display: none;
        position: absolute;
        right: 17px;
        top: 17px;
      }

      .search-param {
        font-size: 12px;
      }
    }
  }

  .button {
    display: inline-block;
    margin-top: 2px;
    vertical-align: top;
  }
}

.list-box {
  float: left;

  ul {
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid $gray-lighter;
      list-style: none;
      padding: 30px 20px;
    }

    li:first-child {
      text-align: center;
    }

    li:last-child {
      border-bottom: none !important;
      padding: 0;
    }
  }

  ul.three-columns {
    display: block;

    li {
      float: left;
      padding: 30px 0;
      width: 33%;
    }
  }

  .collection {
    margin: 30px auto;
    width: 725px;
  }

  .info {
    p {
      color: $blue-light;
      font-size: 12px;
      margin: 0 0 7px;
      text-align: left;
    }

    .name {
      font-size: 18px;
      text-transform: uppercase;
      width: 60%;

      a {
        color: $blue-light;
        text-decoration: none;
      }
    }

    .links {
      margin-bottom: 0;

      a {
        color: $gray-darker;
        font-size: 16px;
        text-decoration: none;
      }
    }

    .description{
      color: $gray-light;
    }
  }

  picture {
    float: left;
    height: 75px;
    margin-right: 10px;
    width: 60px;

    img {
      border: 1px solid $gray-light;
      border-radius: 5px;
    }
  }
}

.form-box {
  form {
    padding: 15px;
  }

  .buttons .button.secondary {
    margin-right: 5px;
  }

  .primary {
    margin-top: 20px;
  }

  .field, .small-field {
    float: left;

    label {
      display: block;
    }
  }

  .field {
    width: 48%;

    margin-right: 27px;
    & ~ .field {
      margin-right: 0;
    }

    input {
      width: 90%;
    }
  }

  .small-field {
    width: 22%;

    margin-right: 27px;
    & ~ .small-field {
      margin-right: 0;
    }

    input {
      width: 80%;
    }
  }

  label[for='user_avatar'] {
    float: left;
  }
}

.list-box, .form-box {
  width: 765px;

  .button {
    text-transform: uppercase;
    padding: 15px 20px;
    font-size: 12px;
  }

  .primary {
    background-color: $orange-dark;
  }

  p.title {
    background-color: $blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $white;
    font-size: 12px;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
  }

  label {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
  }

  textarea {
    height: 100px;
    width: 400px;
  }

  .divider {
    border-bottom: 1px dashed $gray-light;
    clear: both;
    margin: 10px 0 25px 0;
  }

  .row {
    clear: both;
    display: inline-block;
    padding: 5px;
    width: 99%;
  }
}
