body.dashboard{
  background: image-url('noise.png');

  .nav{
    width: $width-site;
    margin: 0 auto;

    .nav-wrapper {
      background-color: $blue;
      border-radius: 5px;
      color: $white;
      font-size: 12px;
      margin-top: 12px;
      padding-bottom: 12px;
    }

    a {
      color: $white;
    }

    .menu {
      display: inline-block;
      text-shadow: black 0.1em 0.1em 0.2em;
      text-transform: uppercase;

      ul {
        margin-left: 15px;
        padding-left: 0px;
      }

      li {
        float: left;
        list-style: none;
        text-transform: uppercase;
        padding: 18px 15px;

        a {
          border-radius: 5px;
          background-color: $blue-light;
          padding: 5px 8px;
          text-decoration: none;
        }
      }
    }

    .extra {
      display: inline-block;
      float: right;
      /*text-transform: uppercase;*/
      padding: 10px 15px;
      vertical-align: top;

      a {
        text-decoration: underline;
      }
    }
  }

  article{
    margin: 10px auto;
    width: $width-site;

    .content{
      float: left;
    }

    .sidebar{
      float: left;
      padding: 10px;
      border: 1px dotted $gray-light;
      border-radius: 5px;

      .picture {
        width: 200px;
        height: 212px;
        border: 1px solid $gray-light;
        background-color: $white-dark;
        border-radius: 5px;
      }

      ul {
        margin: 10px 0 0 0;
        padding: 0;
      }

      li {
        background-color: $blue;
        border-radius: 5px;
        height: 100%;
        list-style: none;
        margin-top: 1px;
        padding: 20px 0;
        position: relative;
        width: 100%;

        a {
          color: $white;
          font-size: 12px;
          left: 0;
          height: 40%;
          padding: 12px 12px;
          position: absolute;
          text-decoration: none;
          text-shadow: black 0.1em 0.1em 0.2em;
          text-transform: uppercase;
          top: 0;
          width: 89%;
        }
      }
    }

    .box, .list-box, .new-box {
      background-color: $white;
      margin: 0 0 10px 10px;
      border-radius: 5px;
      box-shadow: 1px 1px 10px $gray;
      float: left;

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          border-bottom: 1px solid $gray-lighter;
        }
      }
    }

    .box{
      width: 378px;
      height: 400px;

      p{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin: 0;
        background-color: $blue;
        padding: 10px;
        font-size: 12px;
        color: $white;
        text-transform: uppercase;
      }

      ul {
        li:last-child {
          text-align: right;
          padding: 5px;

          a{
            text-decoration: none;
            font-size: 12px;
            color: $blue-light;
          }
        }
      }

      li{
        .hour{
          float: left;
          width: 50px;
          font-size: 12px;
          padding: 10px;
        }
        .post{
          padding: 10px 0;
          font-size: 12px;

          a{
            text-decoration: none;
            color: $gray;
            font-weight: bold;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  footer{
    height: 100px;
    margin: 10px auto;
    background-color: $gray;
    width: $width-site;
    border-radius: 5px;
    clear: both;
  }
}
