.content.dashboard {
  .box:first-child {
    margin-right: 8px;
  }

  .box {
    float: left;
    width: 378px;

    ul {
      margin: 0;
      padding: 0;

      li {
        border-bottom: 1px solid $gray-lighter;
        list-style: none;

        .hour {
          float: left;
          font-size: 12px;
          padding: 10px;
          width: 50px;
        }

        .post {
          font-size: 12px;
          padding: 10px 0;

          a {
            color: $gray-darker;
            font-weight: bold;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      li:last-child {
        text-align: right;
        padding: 5px;

        a {
          text-decoration: none;
          font-size: 12px;
          color: $blue-light;
        }
      }
    }
  }
}
