.box {
  background-color: $white;
  border-radius: 5px;
  box-shadow: 1px 1px 10px $gray-darker;
  margin: 0 0 10px 10px;

  .title {
    background-color: $blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $white;
    font-size: 12px;
    margin-bottom: 20px;
    padding: 10px;
    text-transform: uppercase;
  }
}

.clear {
  clear: both;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
