.box:after {
  bottom: -2px;
  content: '';
  position: absolute;
  border-bottom: 1px solid $gray-light;
  border-radius: 5px;
  height: 100%;
  left: 0;
  width: 100%;
  z-index: -1;
}

.box {
  background-color: $white;
  border: 1px solid $gray-light;
  border-radius: 5px;
  position: relative;

  .title {
    background-color: $blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $white;
    font-size: 12px;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
  }
}

.clear:before, .clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.logo {
  background: image-url('home/logo-home-top.png') no-repeat;
  height: 45px;
  text-indent: -9999px;
  width: 237px;
  white-space: nowrap;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

