.box-border {
  border-bottom: 1px solid $gray-light;
  border-radius: 5px;
}

.box {
  background-color: $white;
  border: 1px solid $gray-light;
  border-radius: 5px;

  .title {
    background-color: $blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $white;
    font-size: 12px;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
  }
}

.clear {
  clear: both;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.logo {
  background: image-url('home/logo-home-top.png') no-repeat;
  height: 45px;
  text-indent: -9999px;
  width: 237px;
  white-space: nowrap;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

