.list-box {
  form {
    display: inline-block;
    margin-right: 30px;

    input {
      margin-bottom: 0;
    }
  }

  ul {
    li {
      padding: 30px 20px;
    }

    li:first-child {
      text-align: center;
    }

    li:last-child {
      padding: 0;
      border-bottom: none !important;
    }
  }

  ul.three-columns{
    margin: 30px auto !important;
    display: block;
    width: 725px;

    li{
      float: left;
      width: 33%;
      padding: 30px 0;
    }
  }

  .infos{
    p {
      color: $blue-light;
      font-size: 12px;
      margin: 0 0 7px;
      text-align: left;
    }

    .name{
      font-size: 18px;
      text-transform: uppercase;
      width: 60%;
    }

    .link{
      a {
        color: $gray;
        font-size: 10px;
        text-decoration: none;
      }
    }

    .description{
      color: $gray-light;
    }
  }

  picture {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F1F1F1;
    float: left;
    height: 75px;
    margin-right: 10px;
    width: 60px;
  }
}

.new-box {

  form {
    padding: 20px;
  }

  .field, .small-field {
    float: left;

    label {
      display: block;
    }
  }

  .field {
    width: 50%;

    input[type="text"], input[type="password"], input[type="email"] {
      width: 81%;
    }

    input.small {
      width: 115px;
    }
  }

  .small-field {
    width: 25%;

    input {
      width: 115px;
    }
  }

  .large-field {
    display: inline-block;
    width: 100%;

    input[type='text'] {
      width: 480px;
    }
  }
}

.list-box, .new-box{
  width: 765px;

  .button {
    text-transform: uppercase;
    padding: 15px 20px;
    font-size: 12px;
  }

  .primary {
    background-color: $orange-dark;
  }

  p.title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    background-color: $blue;
    padding: 10px;
    font-size: 12px;
    color: $white;
    text-transform: uppercase;
  }

  form {
    input[type="text"], input[type="email"], input[type="password"], textarea {
      background-color: $white-dark;
      border: 1px solid $gray-light;
      padding: 15px;
    }
  }

  label {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
  }

  textarea {
    height: 100px;
    width: 400px;
  }

  .divider {
    border-bottom: 1px dashed $gray-light;
    clear: both;
    margin: 20px 0;
    margin-right: 40px;
  }
}
